@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&display=swap");
// Colors Variables
$bgColorLeft: #43c6ac;
$bgColorRight: #191654;
$bgColorText: rgba(217, 217, 217, 0.1);
$btnBgColor: #5da2c673;
$btnBgColorHover: rgba(93, 162, 198, 0.8);
$btnTextColor: rgba(0, 0, 0, 1);
$btnTextFontSize: 3.75rem;
$btnBorderRadius: 1rem;
$btnSoundFontSize: 1.75rem;
$btnTextMarginBottom: 1.5rem;
$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
$authorTextColor: rgba(255, 255, 255, 0.2);
$gridColumns: 21rem;
$gridRows: 14.375rem;
$gridGap: 2rem;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.text-number,.text-sound {
	user-select: none;
}
body {
	background: linear-gradient(
		107.56deg,
		$bgColorLeft 0%,
		#43c6ac 0.01%,
		$bgColorRight 100%
	);
	background-repeat: none;
	background-size: cover;
	display: grid;
	place-items: center;
	height: 100vh;
	font-family: "Montserrat Alternates", sans-serif;
	.author {
		color: $authorTextColor;
	}
    overflow: hidden;
	
}
#root {
	.main-container {
		margin-top: 5.5rem;
		.main-container-buttons {
			.btn-wrapper {
				display: grid;
				grid-template-columns: repeat(3, $gridColumns);
				grid-template-rows: repeat(3, $gridRows);
				gap: $gridGap;
				.btn {
					background-color: $btnBgColor;
					border: none;
					border-radius: $btnBorderRadius;
					box-shadow: $btnShadow;
					touch-action: manipulation;
					backdrop-filter: blur(11px);
					font-family: "Montserrat Alternates", sans-serif;
					transition: background-color 0.35s ease-in-out,
						transform 0.1s ease-out;
					.text-number {
						margin-bottom: $btnTextMarginBottom;
						font-size: $btnTextFontSize;
					}
					.text-sound {
						font-size: $btnSoundFontSize;
					}
				}
				.btn:hover {
					background-color: $btnBgColorHover;
				}
				.btn:active {
					transform: scale(1.05);
				}
			}
		}
	}
	.root-bg-text {
		position: absolute;
		z-index: -1;
		top: 20rem;
		font-size: 265px;
		white-space: nowrap;
		left: 50%;
		font-weight: 700;
		transform: translateX(-50%);
		color: $bgColorText;
	}
}

@media only screen and (max-width: 499px) {
	$bgColorLeft: #43c6ac;
	$bgColorRight: #191654;
	$bgColorText: rgba(217, 217, 217, 0.1);
	$btnBgColor: rgba(93, 162, 198, 0.45);
	$btnBgColorHover: rgba(93, 162, 198, 0.8);
	$btnTextColor: rgba(0, 0, 0, 1);
	$btnTextFontSize: 2.5rem;
	$btnBorderRadius: 1rem;
	$btnSoundFontSize: 1.2rem;
	$btnTextMarginBottom: 0.5rem;
	$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
	$authorTextColor: rgba(255, 255, 255, 0.2);
	$gridColumns:  6rem;
	$gridRows: 7rem;
	$gridGap: 1rem;
	.text-number,.text-sound {
		user-select: none;
	}
	#root {
		.main-container {
			margin-top: 5.5rem;
			.main-container-buttons {
				.btn-wrapper {
					display: grid;
					grid-template-columns: repeat(3, $gridColumns);
					grid-template-rows: repeat(3,$gridRows);
					gap: $gridGap;
					.btn {
						background-color: $btnBgColor;
						border: none;
						border-radius: $btnBorderRadius;
						box-shadow: $btnShadow;
						backdrop-filter: blur(11px);
						font-family: "Montserrat Alternates", sans-serif;
						transition: background-color 0.35s ease-in-out,
							transform 0.1s ease-out;
						.text-number {
							margin-bottom: $btnTextMarginBottom;
							font-size: $btnTextFontSize;
							color: $btnTextColor;
						}
						.text-sound {
							font-size: $btnSoundFontSize;
							color: $btnTextColor;
						}
					}
					.btn:hover {
						background-color: $btnBgColorHover;
					}
					.btn:active {
						transform: scale(1.05);
					}
				}
			}
		}
		.root-bg-text {
			display: none;
		}
	}
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
	$bgColorLeft: #43c6ac;
	$bgColorRight: #191654;
	$bgColorText: rgba(217, 217, 217, 0.1);
	$btnBgColor: rgba(93, 162, 198, 0.45);
	$btnBgColorHover: rgba(93, 162, 198, 0.8);
	$btnTextColor: rgba(0, 0, 0, 1);
	$btnTextFontSize: 2.5rem;
	$btnBorderRadius: 1rem;
	$btnSoundFontSize: 1.2rem;
	$btnTextMarginBottom: 1.5rem;
	$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
	$authorTextColor: rgba(255, 255, 255, 0.2);
	$gridColumns:  17rem;
	$gridRows: 13rem;
	$gridGap: 1rem;
	.text-number,.text-sound {
		user-select: none;
	}
	#root {
		.main-container {
			margin-top: 5.5rem;
			.main-container-buttons {
				.btn-wrapper {
					display: grid;
					grid-template-columns: repeat(3, $gridColumns);
					grid-template-rows: repeat(3,$gridRows);
					gap: $gridGap;
					.btn {
						background-color: $btnBgColor;
						border: none;
						border-radius: $btnBorderRadius;
						box-shadow: $btnShadow;
						backdrop-filter: blur(11px);
						font-family: "Montserrat Alternates", sans-serif;
						transition: background-color 0.35s ease-in-out,
							transform 0.1s ease-out;
						.text-number {
							margin-bottom: $btnTextMarginBottom;
							font-size: $btnTextFontSize;
							color: $btnTextColor;
						}
						.text-sound {
							font-size: $btnSoundFontSize;
							color: $btnTextColor;
						}
					}
					.btn:hover {
						background-color: $btnBgColorHover;
					}
					.btn:active {
						transform: scale(1.05);
					}
				}
			}
		}
		.root-bg-text {
			display: none;
		}
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
	$bgColorLeft: #43c6ac;
	$bgColorRight: #191654;
	$bgColorText: rgba(217, 217, 217, 0.1);
	$btnBgColor: rgba(93, 162, 198, 0.45);
	$btnBgColorHover: rgba(93, 162, 198, 0.8);
	$btnTextColor: rgba(0, 0, 0, 1);
	$btnTextFontSize: 2.5rem;
	$btnBorderRadius: 1rem;
	$btnSoundFontSize: 1.2rem;
	$btnTextMarginBottom: 1.5rem;
	$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
	$authorTextColor: rgba(255, 255, 255, 0.2);
	$gridColumns:  14rem;
	$gridRows: 10rem;
	$gridGap: 1rem;
	.text-number,.text-sound {
		user-select: none;
	}
	#root {
		.main-container {
			margin-top: 5.5rem;
			.main-container-buttons {
				.btn-wrapper {
					display: grid;
					grid-template-columns: repeat(3, $gridColumns);
					grid-template-rows: repeat(3,$gridRows);
					gap: $gridGap;
					.btn {
						background-color: $btnBgColor;
						border: none;
						border-radius: $btnBorderRadius;
						box-shadow: $btnShadow;
						backdrop-filter: blur(11px);
						font-family: "Montserrat Alternates", sans-serif;
						transition: background-color 0.35s ease-in-out,
							transform 0.1s ease-out;
						.text-number {
							margin-bottom: $btnTextMarginBottom;
							font-size: $btnTextFontSize;
							color: $btnTextColor;
						}
						.text-sound {
							font-size: $btnSoundFontSize;
							color: $btnTextColor;
						}
					}
					.btn:hover {
						background-color: $btnBgColorHover;
					}
					.btn:active {
						transform: scale(1.05);
					}
				}
			}
		}
		.root-bg-text {
			display: none;
		}
	}
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
	$bgColorLeft: #43c6ac;
	$bgColorRight: #191654;
	$bgColorText: rgba(217, 217, 217, 0.1);
	$btnBgColor: rgba(93, 162, 198, 0.45);
	$btnBgColorHover: rgba(93, 162, 198, 0.8);
	$btnTextColor: rgba(0, 0, 0, 1);
	$btnTextFontSize: 2.5rem;
	$btnBorderRadius: 1rem;
	$btnSoundFontSize: 1.2rem;
	$btnTextMarginBottom: 1.5rem;
	$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
	$authorTextColor: rgba(255, 255, 255, 0.2);
	$gridColumns:  9rem;
	$gridRows: 9rem;
	$gridGap: 1rem;
	.text-number,.text-sound {
		user-select: none;
	}
	#root {
		.main-container {
			margin-top: 5.5rem;
			.main-container-buttons {
				.btn-wrapper {
					display: grid;
					grid-template-columns: repeat(3, $gridColumns);
					grid-template-rows: repeat(3,$gridRows);
					gap: $gridGap;
					.btn {
						background-color: $btnBgColor;
						border: none;
						border-radius: $btnBorderRadius;
						box-shadow: $btnShadow;
						backdrop-filter: blur(11px);
						font-family: "Montserrat Alternates", sans-serif;
						transition: background-color 0.35s ease-in-out,
							transform 0.1s ease-out;
						.text-number {
							margin-bottom: $btnTextMarginBottom;
							font-size: $btnTextFontSize;
							color: $btnTextColor;
						}
						.text-sound {
							font-size: $btnSoundFontSize;
							color: $btnTextColor;
						}
					}
					.btn:hover {
						background-color: $btnBgColorHover;
					}
					.btn:active {
						transform: scale(1.05);
					}
				}
			}
		}
		.root-bg-text {
			display: none;
		}
	}
}
@media only screen and (min-width: 701px) and (max-width: 899px) {
	$bgColorLeft: #43c6ac;
	$bgColorRight: #191654;
	$bgColorText: rgba(217, 217, 217, 0.1);
	$btnBgColor: rgba(93, 162, 198, 0.45);
	$btnBgColorHover: rgba(93, 162, 198, 0.8);
	$btnTextColor: rgba(0, 0, 0, 1);
	$btnTextFontSize: 2.5rem;
	$btnBorderRadius: 1rem;
	$btnSoundFontSize: 1.2rem;
	$btnTextMarginBottom: 1.5rem;
	$btnShadow: 0px 1rem 1rem 0.1rem rgba(29, 65, 83, 0.5);
	$authorTextColor: rgba(255, 255, 255, 0.2);
	$gridColumns:  12rem;
	$gridRows: 12rem;
	$gridGap: 1rem;
	.text-number,.text-sound {
		user-select: none;
	}
	#root {
		.main-container {
			margin-top: 5.5rem;
			.main-container-buttons {
				.btn-wrapper {
					display: grid;
					grid-template-columns: repeat(3, $gridColumns);
					grid-template-rows: repeat(3,$gridRows);
					gap: $gridGap;
					.btn {
						background-color: $btnBgColor;
						border: none;
						border-radius: $btnBorderRadius;
						box-shadow: $btnShadow;
						backdrop-filter: blur(11px);
						font-family: "Montserrat Alternates", sans-serif;
						transition: background-color 0.35s ease-in-out,
							transform 0.1s ease-out;
						.text-number {
							margin-bottom: $btnTextMarginBottom;
							font-size: $btnTextFontSize;
							color: $btnTextColor;
						}
						.text-sound {
							font-size: $btnSoundFontSize;
							color: $btnTextColor;
						}
					}
					.btn:hover {
						background-color: $btnBgColorHover;
					}
					.btn:active {
						transform: scale(1.05);
					}
				}
			}
		}
		.root-bg-text {
			display: none;
		}
	}
}
